*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: Roboto;
}

body{
    width: 100%;
}

#main_header{
    width: 100%;
    height: 90px;
    line-height: 90px;
}

#logo{
    vertical-align: middle;
    padding-left: 20px;
}

#titolo_header{
    display: inline-block;
    vertical-align: middle;
}

#main_content{
    background-color: #F6F8F9;
}

#contenitore{
    background-color: white;
    height: 400px;
    width: 70%;
    margin: auto;
    margin-top: 40px;
    
}